.swiper-pagination-bullet {
  transition-property: all;
  transition-duration: 300ms;
  background-color: rgba(255, 255, 255, 127) !important;
}

.swiper-pagination-bullet-active {
  background-color: #fdefdf !important;
}

.swiper-pagination {
  transform: translateY(-170px);
  z-index: 60;
}

@media (min-width: 768px) {
  .swiper-pagination {
    transform: translateY(-30px);
    z-index: 60;
  }
}
