@media (min-width: 360px) {
  .cont {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .cont {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1024px) {
  .cont {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (min-width: 1440px) {
  .cont {
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 80px;
    padding-right: 80px;
  }
}
